.hero_section {
   margin-top: 0px;
}

.profile-img {
    display: block;       /* Превращаем в блочный элемент для работы margin */
    max-width: 350px;    /* Ограничиваем размер (поменяй 300px на любую нужную ширину) */
    width: 100%;          /* Чтобы на совсем маленьких экранах картинка сжималась адаптивно */
    height: auto;         /* Пропорции картинки не будут искажаться */
    border-radius: 150px 0 150px 0px;
    margin: 0 auto;
}