@import url('https://googleapis.com');

.skills_section {
    margin-top: 10px;
    width: 100%;
    padding-top: 60px;   /* пространство сверху и снизу */
}

.skills_container {
    width: 100%;
    margin: 40px auto;
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}


.skill_card {
    padding-bottom: 20px;
    position: relative; 

    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
}

.skill_card_num {
    position: absolute;
    top: -13px;     
    left: -5px;   
    z-index: 1;     
    
    font-family: "Miama";
    font-size: 5.5rem;
    font-weight: 300;
    color: #2B231E;
    opacity: 0.12;     
    line-height: 1;
    pointer-events: none;
    padding-right: 2px;
}

/* ЧТОБЫ ТЕКСТ БЫЛ ПОВЕРХ ЦИФРЫ */
.skill_card_title {
    font-family: "Miama";
    color: #000;
    font-weight: 300;
    
    position: relative; /*  позиционирование для работы z-index */
    z-index: 2;      
}

.list-content {
    color: #000;
    font-family: "Amstelvar";
    
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.neo-marker {
    font-family: 'Roboto';
    font-size: 1rem;
}

@media (min-width: 1200px) {
    .skills_container {
        margin: 60px 0 40px 0;
        
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 40px 50px; /* 40px отступ между строками, 50px — между колонками */
    }

    .skill_card {
        flex-direction: row; 
        align-items: flex-start;
        justify-content: space-between;
        
        border-bottom: 1px solid rgba(43, 35, 30, 0.1); 
        padding-bottom: 25px;
    }

    .skill_card_title {
        width: 40%; 
        margin: 0;
        text-align: left;
    }

    .list-content {
        width: 55%;
        
        flex-direction: column; 
        gap: 12px; 
    }
    
    .skill_card_num {
        top: -25px; 
        left: -15px;
        font-size: 6.5rem;
    }
}


@media (min-width: 1400px) {
    .skills_container {
        grid-template-columns: repeat(3, 1fr); 
        max-width: 1300px; 
        margin: 60px auto;
        gap: 50px 80px;
    }
}