/*цвета, тени, отступы*/

:root {

    --color-bg: #D5D2CE; 
    --rosy-brown: #9B8384;
    --color-bg-alt: #ededed;           /* чередование секций */
    --color-text: #0f0704;
    --color-text-2: #201409;
    --color-text-secondary: #6b6b6b;
    --color-text-muted: #9a9a9a;

    --color-smoky-taype: #A6988E;
    --color-warm-gray: #857A73;


    --color-accent: #4a4a4a;


    /* ============================================
       ПЕРЕХОДЫ
       ============================================ 
    */
    --transition-base: 0.3s ease;
}